header {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 35px;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
}
p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}