
/* Variables */
:root {
    --c-dark: #aa77ff;
    --c-brand: #62CDFF;
    --c-brand-light: #C9EEFF;
    --c-brand-rgb: #62cdff;
    --c-body: #727272;
    --font-base: ;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* Reset & Helpers */
body {
    font-family: sans-serif;
    line-height: 1.7;
    color: var(--c-body);
}

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    columns: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* NavBar */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* BTN */

.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* hero */
.hero {
    background: linear-gradient(rgba(170, 119, 255,0.5), rgba(170, 119, 255,0.4)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

/* Section Title */
.section-title {
    margin-bottom: 60px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* Icon box */
.iconbox {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(170, 119, 255,0.2);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
} 


/* Team */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: calc(100%-50px);
    transform: translateX(-50%);
    padding: 24px;
}