  
  .containerGame {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #aa77ff;
    border-radius: 5px;
    width: 500px;
    align-items: center;
    justify-self: center;
    margin: auto;
    margin-top: 40px;
  }
  
  #gameBoard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }
  
  .box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: #aa77ff;
  }
  
  .box:hover {
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #aa77ff;;
    color: white;
    border-color: #aa77ff;;
    font-size: 18px;
    transition: 200ms transform;

  }
  
  button:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  #returnButton {
    align-items: center;
    justify-self: center;
    margin: auto;
    margin-top: 40px;
  }
  